.panes {
    display: flex;
    height: 100%;
}

.pane {
    width: 50%;
}

.header {
    height: 11.5%;
    background-color: rgb(5, 3, 22);
    box-shadow: 0 5px 10px black;
    position: relative;
    z-index: 1;
    color: white;
    padding: 0.75rem;
    font-size: 2.25rem;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.form {
    padding: 0.25rem 1.5rem;
    overflow: auto;
    height: 88.5%;
    background-color: rgb(15, 23, 39);
    color: rgb(228, 228, 228);
}

.stretch {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

.stretch input {
    width: 85%;
    flex-shrink: 1;
}

.spread {
    display: flex;
    justify-content: space-between;
}

.entry-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 5% 20% 75%;
    row-gap: 0.25rem;
    margin-bottom: 1rem;
}

.entry-grid button {
    grid-row: 1 / -1;
    place-self: center;
}

label {
    display: grid;
    align-items: center;
}

input {
    border-radius: 10px;
    padding-inline: 0.5rem;
}

.form input {
    padding-inline: 0.5rem;
}

.skill-field  {
    width: 47.45%;
}

button {
    all: unset;
    background-color: white;
    color: black;
    line-height: 0;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0.25rem;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.background button:hover {
    border: none;
}

button:active {
    background-color: gainsboro;
}

.form button {
    height: 1.25rem;
    width: 1.25rem;
}

.background button {
    height: 2.25rem;
    width: 2.25rem;
    position: fixed;
    z-index: 1;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.75);
}

.zoom-button {
    right: 5%;
    top: 8%;
}

.zoom-button svg {
    height: 55%;
    width: 55%;
}

.print-button {
    right: 5%;
    bottom: 8%;
}

.print-button svg {
    height: 65%;
    width: 65%;
}

.centered-button {
    margin-inline: auto;
}

.background {
    background-color: rgb(37, 37, 37);
    padding: 1.5rem;
    overflow: auto;
    position: relative;
}

.preview {
    background-color: white;
    padding: 1.5rem 2.25rem 3rem;
    height: auto;
    width: 100%;
    aspect-ratio: 21 / 29.7;
    box-shadow: 5px 5px 10px black;
}

.scaled {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    --ratio: 1;
    scale: var(--ratio);
}

.single-line {
    display: flex;
    gap: 0.25rem;
}

.single-line button {
    margin-block: auto;
}

ul {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
}

.form ul {
    width: 95%;
    margin-inline: auto;
    row-gap: 0.25rem;
    column-gap: 2rem;
    padding-inline: 0.5rem;
}

.form li {
    display: flex;
    gap: 0.25rem;
    overflow: hidden;
}

.form li button {
    margin-block: 0;
    flex-shrink: 0;
}
